workflows/Flow1/AI News Summarizer.json
{
  "name": "AI News Summarizer",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -384,
        -1840
      ],
      "id": "acc867c0-e321-41cc-9eb0-75edee584d68",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5TjB6IyX5hEsLl2l",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://venturebeat.com/category/ai/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -1696,
        -1952
      ],
      "id": "41c77f84-e714-46f6-a7a0-a7dbb63d2da2",
      "name": "RSS VentureBeat AI"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1472,
        -2048
      ],
      "id": "2447b0be-e5b7-4a28-93ff-c91d132e4164",
      "name": "Merge"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -816,
        -2048
      ],
      "id": "98bb702e-c827-4358-b312-9de297546881",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "const articles = items.map((item, index) => {\n  const cleanDescription = (item.json.contentSnippet || '')\n    .replace(/<[^>]*>/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  return `${index + 1}. ${item.json.title}\n\nDescription:\n${cleanDescription}`;\n});\n\nreturn [\n  {\n    json: {\n      newsText: articles.join('\\n\\n')\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        -2048
      ],
      "id": "d2140b28-1be2-4675-802a-9ef5184efe51",
      "name": "Prepare News Text"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "isoDate",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -1040,
        -2048
      ],
      "id": "ff464e51-f42b-41e4-89da-182b252bcb0e",
      "name": "Sort"
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\n\nreturn items.filter(item => {\n  const title = item.json.title;\n\n  if (seen.has(title)) {\n    return false;\n  }\n\n  seen.add(title);\n  return true;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        -2048
      ],
      "id": "4c4ef1da-ec7d-4d25-8b08-5b510aec050f",
      "name": "Deduplicate Articles"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/category/artificial-intelligence/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -1696,
        -2144
      ],
      "id": "c4458029-f108-425c-bb43-11ab84ef999f",
      "name": "RSS TechCrunch AI"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1952,
        -2048
      ],
      "id": "a0ae9434-dc3c-42aa-98ce-0df593e83efa",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.newsText }}",
        "options": {
          "systemMessage": "You are an AI news summariser.  \n\nSummarise these AI news articles into:\n - 5 concise bullet points \n - Telegram-friendly format\n - Include emojis\n - Maximum 25 words per bullet  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -384,
        -2048
      ],
      "id": "8ef34002-798d-4f95-8c32-18f80d3aa4fa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -208,
        -1792
      ],
      "id": "8c3396ca-4149-41be-a1b8-6a0c1d16aa9d",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS TechCrunch AI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS VentureBeat AI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Deduplicate Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate Articles": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Prepare News Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare News Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "RSS TechCrunch AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS VentureBeat AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "40984d6b-add2-4de2-b688-3eb111d716f7",
  "meta": {
    "instanceId": "cdc6df86a355f36eb13300f08d7c79c6bf190deec275ae989b6b169d6e87ce7f"
  },
  "id": "aSkQn8tG42yD2b7G",
  "tags": []
}
