workflows/Flow1/Daily Share Market Snapshot.json
{
  "name": "Daily Share Market Snapshot",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -560,
        -112
      ],
      "id": "89d5a04e-366c-4dfc-81d5-fd633757c0a7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "https://query1.finance.yahoo.com/v8/finance/chart/%5ENSEI",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -336,
        -208
      ],
      "id": "9e6cfdeb-8e41-4bf8-a603-d4fa0d1f55a0",
      "name": "Get Nifty50"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin,ethereum&vs_currencies=usd,inr&include_24hr_change=true",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -336,
        -16
      ],
      "id": "be6a9481-35c8-455b-907b-9b67b091d37b",
      "name": "Get Crypto"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -112,
        -112
      ],
      "id": "a317758d-be85-47e2-956a-170355b40d5b",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const niftyData = $('Get Nifty50').first().json.chart.result[0];\nconst cryptoData = $('Get Crypto').first().json;\n\nconst meta = niftyData.meta;\n\nconst niftyPrice = meta.regularMarketPrice;\nconst prevClose = meta.previousClose;\n\nconst niftyChange = (((niftyPrice - prevClose) / prevClose) * 100).toFixed(2);\n\nconst btcUsd = cryptoData.bitcoin.usd;\nconst btcInr = cryptoData.bitcoin.inr;\nconst btcChange = cryptoData.bitcoin.usd_24h_change?.toFixed(2);\n\nconst ethUsd = cryptoData.ethereum.usd;\nconst ethInr = cryptoData.ethereum.inr;\nconst ethChange = cryptoData.ethereum.usd_24h_change?.toFixed(2);\n\nconst message =\n`📈 Market Snapshot\n\n🇮🇳 NIFTY50: ${niftyPrice} (${niftyChange}%)\n\n₿ Bitcoin:\nUSD: $${btcUsd}\nINR: ₹${btcInr}\n24h: ${btcChange}%\n\n⟠ Ethereum:\nUSD: $${ethUsd}\nINR: ₹${ethInr}\n24h: ${ethChange}%`;\n\nreturn [\n  {\n    json: {\n      market_snapshot: message\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -112
      ],
      "id": "2bba2e40-1b59-4e0f-b7d2-449f8b28f18c",
      "name": "Format Market Snapshot"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        272,
        96
      ],
      "id": "588929c5-4259-425c-953d-9af9eecc1234",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5TjB6IyX5hEsLl2l",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.market_snapshot }}",
        "options": {
          "systemMessage": "=You are a financial market analyst AI.\n\nYour task is to generate a concise, professional market commentary based on the provided market snapshot data.\n\nGuidelines:\n\n* Keep the response short and clear.\n* Mention important market trends, price movements, or sentiment.\n* Use a professional financial-news tone.\n* Avoid markdown, bullet points, or extra explanations.\n* If both stock market and crypto data are present, summarize both naturally.\n* Output only the commentary text.\n\nMarket Data:\n\n {{ $json.market_snapshot }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        304,
        -112
      ],
      "id": "26103f0c-ad48-462a-925f-9d2dd0825bb5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        96
      ],
      "id": "6ee9fe63-0d6c-44c7-b1bf-7e8900039b97",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Nifty50",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Nifty50": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Crypto": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Format Market Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Market Snapshot": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "09302f74-ed47-4dc2-b0f1-cebcde0f97bf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cdc6df86a355f36eb13300f08d7c79c6bf190deec275ae989b6b169d6e87ce7f"
  },
  "id": "niL3ZolAb20nqYO9",
  "tags": []
}
