workflows/Flow2/AI Newsletter Auto Post.json
{
  "name": "AI Newsletter Auto Post",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        -144
      ],
      "id": "6b0a52f2-5faf-40a6-ada4-7cd2366ded74",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "txhUyG4lxVJoqEie",
          "name": "sathisheee1297"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a8e82f56-aa10-4d80-8c94-9ef328ef6802",
              "leftValue": "={{ $json.From }}",
              "rightValue": "therundown.ai",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "242d0119-f469-452b-8b1d-3d5128b4888a",
              "leftValue": "={{ $json.From }}",
              "rightValue": "techcrunch.com",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        -144
      ],
      "id": "f1b8c7c4-5873-438b-9fc1-83762c9cb466",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bbe5449e-4681-4ff9-bf30-8c117b11cc9f",
              "name": "subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "674c0a78-e0b5-482f-ba8d-29c72f2fa519",
              "name": "body",
              "value": "={{ $json.textPlain || $json.snippet }}",
              "type": "string"
            },
            {
              "id": "bf5c6675-e670-4d79-9e7c-842801e44c85",
              "name": "sender",
              "value": "={{ $json.From }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -240
      ],
      "id": "a70c4e02-26a2-43e5-943c-ce87f5abec1b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject: {{$json.subject}}\n\nNewsletter Content:\n{{$json.body}}",
        "options": {
          "systemMessage": "You are a professional AI content creator.\n\nYour task:\n\n1. Read the AI newsletter content.\n2. Extract the most interesting AI news or insight.\n3. Create a high-quality LinkedIn post.\n4. Keep it engaging and professional.\n5. Use short paragraphs.\n6. Add a hook at the beginning.\n7. End with a thoughtful question.\n8. Include relevant hashtags.\n\nOutput ONLY the LinkedIn post text.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        -240
      ],
      "id": "f65514a3-e018-492f-9d7a-64f4f074d0b4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        144,
        -32
      ],
      "id": "b9299ae1-67e5-4edb-9465-0eb60a9aedff",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5TjB6IyX5hEsLl2l",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=🚀 AI Newsletter LinkedIn Draft\n\n━━━━━━━━━━\n\nSubject:\n{{ $('Edit Fields').item.json.subject }}\n\n━━━━━━━━━━\n\nOutput:\n{{ $('AI Agent').item.json.output }}\n\n━━━━━━━━━━\n\nReply with:\n\nAPPROVE\nREJECT\nREWRITE: your instructions",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        -240
      ],
      "id": "22232a74-2e6e-46a3-9c01-3dc2d9626f0d",
      "name": "Send a text message",
      "webhookId": "bd507970-781f-4b09-b827-1d525837b494",
      "credentials": {
        "telegramApi": {
          "id": "SnMbz4Bph1zYnZqB",
          "name": "MyAIPersonalAssistantBot"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "M2dpmbiTGk58CY8w",
          "mode": "list",
          "cachedResultName": "GmailGeneratedPost",
          "cachedResultUrl": "/projects/jnkLp9tTmtDdLTo1/datatables/M2dpmbiTGk58CY8w"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Post",
              "keyValue": "={{ $json.output }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Post"
          ],
          "schema": [
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        624,
        -240
      ],
      "id": "124c34b5-323d-437f-ab6a-7e3854844227",
      "name": "Upsert row(s)",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "zpTaN1FmAjzxAnbs",
          "mode": "list",
          "cachedResultName": "TelegramChatId",
          "cachedResultUrl": "/projects/jnkLp9tTmtDdLTo1/datatables/zpTaN1FmAjzxAnbs"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        832,
        -240
      ],
      "id": "d513db62-93f3-49f3-a192-1fa5bd8a0218",
      "name": "Get row(s)"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "302961d8-dd75-431d-85a1-73432fd3d62d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cdc6df86a355f36eb13300f08d7c79c6bf190deec275ae989b6b169d6e87ce7f"
  },
  "id": "IRA1BkOswThtCBIs",
  "tags": []
}
