workflows/Flow2/Telegram Approval Handler.json
{
  "name": "Telegram Approval Handler",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -256,
        -32
      ],
      "id": "f18ff331-45a9-43a1-a980-e90e0ea6a03a",
      "name": "Telegram Trigger",
      "webhookId": "47bb225d-24f8-42be-bca4-6de135bb264b",
      "credentials": {
        "telegramApi": {
          "id": "SnMbz4Bph1zYnZqB",
          "name": "MyAIPersonalAssistantBot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "APPROVE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "94fbf769-330c-4573-805d-1d18baeacfa8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "646e59e9-cc65-4003-a098-bbf5e6fc4ad8",
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "REJECT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9c45b4bd-5520-4865-a103-7f7f971952a6",
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "REWRITE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        128,
        -48
      ],
      "id": "af37ff37-07c7-4f89-9f01-dbf648336d70",
      "name": "Switch"
    },
    {
      "parameters": {
        "person": "y8BBRZv01Y",
        "text": "={{ $json.Post }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        768,
        -208
      ],
      "id": "44f04f5d-2e80-4d6f-841c-6dfe595eaf4e",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "3cRyzL0dFXqYzMV6",
          "name": "AI Content Publisher"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "M2dpmbiTGk58CY8w",
          "mode": "list",
          "cachedResultName": "GmailGeneratedPost",
          "cachedResultUrl": "/projects/jnkLp9tTmtDdLTo1/datatables/M2dpmbiTGk58CY8w"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        368,
        -208
      ],
      "id": "d72df920-73ed-4e83-a40f-366997b71855",
      "name": "Get Post"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "zpTaN1FmAjzxAnbs",
          "mode": "list",
          "cachedResultName": "TelegramChatId",
          "cachedResultUrl": "/projects/jnkLp9tTmtDdLTo1/datatables/zpTaN1FmAjzxAnbs"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        368,
        -32
      ],
      "id": "4be67524-c4e5-4644-b96e-94ce12c2c124",
      "name": "Get ChatId"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Original Post:\n{{ $json.Post }}\n\nRewrite Instructions:\n{{ $('Rewrite Instructions').item.json.rewrite_instruction }}",
        "options": {
          "systemMessage": "You are a LinkedIn content editor.\n\nRewrite the LinkedIn post based on the user's instructions.\n\nKeep the content professional and engaging."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        768,
        160
      ],
      "id": "0d68311d-13e3-44cb-b9c2-1f586e5a4db0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        752,
        352
      ],
      "id": "a317742a-aa4d-481d-8f40-f9c9a8b8f90f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5TjB6IyX5hEsLl2l",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "zpTaN1FmAjzxAnbs",
          "mode": "list",
          "cachedResultName": "TelegramChatId",
          "cachedResultUrl": "/projects/jnkLp9tTmtDdLTo1/datatables/zpTaN1FmAjzxAnbs"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1312,
        160
      ],
      "id": "86e5e1d9-e7ca-4a02-a81b-dd0b78b1b0b3",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "Post rejected. No action taken.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        -32
      ],
      "id": "2349fa18-0c32-44b2-82dd-2393ff1f7ea5",
      "name": "Send a text message",
      "webhookId": "292fd2f6-8e08-42c6-8de3-661bae7782be",
      "credentials": {
        "telegramApi": {
          "id": "SnMbz4Bph1zYnZqB",
          "name": "MyAIPersonalAssistantBot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71877163-41df-46f4-b97c-ccd0d7bed825",
              "name": "message",
              "value": "={{$json.message.text.split(':')[0]}}",
              "type": "string"
            },
            {
              "id": "ec8e09f5-9206-432c-87e4-a736e7e72ff4",
              "name": "original",
              "value": "={{$json.message.text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        -32
      ],
      "id": "f44e3ad1-a1b3-4290-ad98-819d40055fad",
      "name": "Split messages"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a8803182-3f2f-46de-9cbd-6a61864ab15f",
              "name": "rewrite_instruction",
              "value": "={{ $json.original.replace('REWRITE:','').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        160
      ],
      "id": "00fd5672-4845-4b1f-99cb-b3396ba7e9e4",
      "name": "Rewrite Instructions"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "M2dpmbiTGk58CY8w",
          "mode": "list",
          "cachedResultName": "GmailGeneratedPost",
          "cachedResultUrl": "/projects/jnkLp9tTmtDdLTo1/datatables/M2dpmbiTGk58CY8w"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        576,
        160
      ],
      "id": "02894732-1056-4b41-b443-ea5396898255",
      "name": "Get Post1"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=✍️ Rewritten LinkedIn Draft\n\n{{ $('AI Agent').item.json.output }}\n\n\nReply with:\nAPPROVE\nREJECT\nREWRITE: instructions",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1712,
        160
      ],
      "id": "593c5224-e3d7-48db-912f-fbaad1fdcd4f",
      "name": "Send a text message1",
      "webhookId": "c367326b-65c7-497e-adfe-7779a99112b9",
      "credentials": {
        "telegramApi": {
          "id": "SnMbz4Bph1zYnZqB",
          "name": "MyAIPersonalAssistantBot"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "M2dpmbiTGk58CY8w",
          "mode": "list",
          "cachedResultName": "GmailGeneratedPost",
          "cachedResultUrl": "/projects/jnkLp9tTmtDdLTo1/datatables/M2dpmbiTGk58CY8w"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Post",
              "keyValue": "={{ $json.output }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Post"
          ],
          "schema": [
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1104,
        160
      ],
      "id": "a5575624-ea76-4e59-aee0-34039d1eb378",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        576,
        -208
      ],
      "id": "38cb8fc6-6e33-43a6-8803-6436af597335",
      "name": "Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1520,
        160
      ],
      "id": "768d397a-7ae7-49f8-a871-a3c839a83a96",
      "name": "Limit1"
    },
    {
      "parameters": {
        "chatId": "={{ $json.id }}",
        "text": "Posted",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1184,
        -208
      ],
      "id": "2908dc61-f34b-4187-9708-bc5bc2f1c61e",
      "name": "Send a text message2",
      "webhookId": "06ddb443-1135-450e-8a59-34b39792e1b4",
      "credentials": {
        "telegramApi": {
          "id": "SnMbz4Bph1zYnZqB",
          "name": "MyAIPersonalAssistantBot"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "zpTaN1FmAjzxAnbs",
          "mode": "list",
          "cachedResultName": "TelegramChatId",
          "cachedResultUrl": "/projects/jnkLp9tTmtDdLTo1/datatables/zpTaN1FmAjzxAnbs"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        976,
        -208
      ],
      "id": "7392914e-8427-4fe8-8453-098c78fefebb",
      "name": "Get row(s)1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Split messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get ChatId",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rewrite Instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Post": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ChatId": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split messages": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite Instructions": {
      "main": [
        [
          {
            "node": "Get Post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Post1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "81768663-90f5-4772-a338-2746bbcd8d52",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cdc6df86a355f36eb13300f08d7c79c6bf190deec275ae989b6b169d6e87ce7f"
  },
  "id": "J4TKwecTjAysm4Hh",
  "tags": []
}
