workflows/Flow3/Morning Brief.json
{
  "name": "Morning Brief",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -496,
        -80
      ],
      "id": "46e94c3a-8d90-4f74-a475-31355aca4a1d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $execution.id }}",
        "options": {
          "systemMessage": "You are a Morning Brief Generator.\n\nYour task is to generate a daily morning briefing.\n\nWorkflow:\n\n1. Call the AI News Summarizer tool.\n2. Call the Daily Share Market Snapshot tool.\n3. Collect both tool outputs.\n4. Combine the results into a single morning brief.\n5. Return the final combined summary to the next workflow node.\n\nOUTPUT FORMAT:\n\n🌅 Morning Brief\n\n📰 AI News\n• 2 bullet points\n• Maximum 25 words per bullet\n• Use relevant emojis\n• Focus on the most important AI developments\n\n📈 Market Insights\n• 2 bullet points\n• Maximum 25 words per bullet\n• Use finance-related emojis\n• Focus on major stock market and crypto movements\n\n💡 Daily Takeaway\n• 1 bullet point\n• Maximum 25 words\n• Combine the overall AI and market sentiment into one actionable insight\n\nRULES:\n\n* Total bullet points must be exactly 5.\n* Each bullet point must be under 25 words.\n* Use emojis naturally.\n* Keep the briefing concise and professional.\n* Do not ask questions.\n* Do not mention tool names.\n* Do not explain the workflow.\n* Return only the final morning brief.\n* Ensure the response is suitable for Telegram and downstream workflow nodes.\n\nExample:\n\n🌅 Morning Brief\n\n📰 AI News\n\n• 🤖 OpenAI introduced new enterprise capabilities focused on productivity and automation.\n\n• 🚀 AI startup funding remained strong as businesses increased AI adoption.\n\n📈 Market Insights\n\n• 📈 Nifty50 gained on positive banking and IT sector performance.\n\n• ₿ Bitcoin traded steadily while major cryptocurrencies showed mixed sentiment.\n\n💡 Daily Takeaway\n\n• 💡 AI innovation and positive market sentiment continue creating opportunities across technology and investment sectors.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -288,
        -80
      ],
      "id": "86247246-aeb9-496d-87cc-5171f88aa033",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -432,
        128
      ],
      "id": "39ebf9f2-35b6-488d-b37c-14209036115c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5TjB6IyX5hEsLl2l",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aSkQn8tG42yD2b7G",
          "mode": "list",
          "cachedResultUrl": "/workflow/aSkQn8tG42yD2b7G",
          "cachedResultName": "AI News Summarizer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -64,
        128
      ],
      "id": "96a33dc4-9ee8-4340-8554-2a473aae2725",
      "name": "Call 'AI News Summarizer'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "niL3ZolAb20nqYO9",
          "mode": "list",
          "cachedResultUrl": "/workflow/niL3ZolAb20nqYO9",
          "cachedResultName": "Daily Share Market Snapshot"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        96,
        128
      ],
      "id": "a353445e-4fa1-470f-8e5f-8c6e8058c6d9",
      "name": "Call 'Daily Share Market Snapshot'"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "zpTaN1FmAjzxAnbs",
          "mode": "list",
          "cachedResultName": "TelegramChatId",
          "cachedResultUrl": "/projects/jnkLp9tTmtDdLTo1/datatables/zpTaN1FmAjzxAnbs"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        64,
        -80
      ],
      "id": "f34019f1-a96e-4e23-b303-2ab650bd8ad3",
      "name": "TelegramChatId"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        -80
      ],
      "id": "eb81a015-5055-40ed-b057-c494e8584d3f",
      "name": "Send a text message",
      "webhookId": "2d215294-d769-4a46-8005-943cbf0d9bcf",
      "credentials": {
        "telegramApi": {
          "id": "SnMbz4Bph1zYnZqB",
          "name": "MyAIPersonalAssistantBot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call 'AI News Summarizer'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Daily Share Market Snapshot'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "TelegramChatId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TelegramChatId": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c28d3df3-b772-4b11-848f-8cbe293164b7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cdc6df86a355f36eb13300f08d7c79c6bf190deec275ae989b6b169d6e87ce7f"
  },
  "id": "faZ7YxIJNdgcuRCZ",
  "tags": []
}
